.star1 {
    background: url(../images/star.png);
}

.star2 {
    background: url(../images/star.png);
}
.star3 {
    background: url(../images/star.png);
}

.star4 {
    background: url(../images/star.png);
}

